<div>
    <div>
        <mat-card class="add-post-card">
            <mat-card-title class="card-title-main">Creating a new Community</mat-card-title>
            <div class="form-group">
                <form [formGroup]="communityFormGroup">

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Name</mat-card-title>
                        <input type="text" placeholder="Enter the name of this Community." class="form-control" formControlName="name"
                            [ngClass]="{ 'is-invalid': submittedCommunity && communityGroup['name'].errors }">
                            <div *ngIf="submittedCommunity && communityGroup['name'].errors" class="invalid-feedback">
                                <div *ngIf="communityGroup['name'].errors['required']">Name is required.</div>
                                <div *ngIf="communityGroup['name'].errors['minlength']">Name must be at least 3 characters long.</div>
                                <div *ngIf="communityGroup['name'].errors['maxlength']">Name must not exceed 20 characters.</div>
                            </div>
                    </div>

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Description</mat-card-title>
                        <textarea type="text" class="form-control" formControlName="description" rows="2"
                            placeholder="Enter a description of this Community."
                            [ngClass]="{ 'is-invalid': submittedCommunity && communityGroup['description'].errors}"></textarea>
                            <div *ngIf="submittedCommunity && communityGroup['description'].errors" class="invalid-feedback">
                                <div *ngIf="communityGroup['description'].errors['required']">Description is required.</div>
                                <div *ngIf="communityGroup['description'].errors['minlength']">Description must be at least 3 characters long.</div>
                                <div *ngIf="communityGroup['description'].errors['maxlength']">Description must not exceed 300 characters.</div>
                            </div>
                        <div class="form-group form-check">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Community</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="form-group">
                <form [formGroup]="ruleFormGroup">

                    <div class="form-group col-3">
                        <mat-card-title class="rule-name">Rule Name</mat-card-title>
                        <input type="text" maxlength="16" class="form-control" formControlName="ruleName"
                        [ngClass]="{ 'is-invalid': submittedRule && ruleGroup['ruleName'].errors}">
                        <div *ngIf="submittedRule && ruleGroup['ruleName'].errors" class="invalid-feedback">
                            <div *ngIf="ruleGroup['ruleName'].errors['required']">Name is required.</div>
                            <div *ngIf="ruleGroup['ruleName'].errors['minlength']">Name must be at least 3 characters long.</div>
                            <div *ngIf="ruleGroup['ruleName'].errors['maxlength']">Name must not exceed 15 characters.</div>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <mat-card-title class="rule-description">Rule Description</mat-card-title>
                        <input type="text" maxlength="51" class="form-control" formControlName="ruleDescription"
                        [ngClass]="{ 'is-invalid': submittedRule && ruleGroup['ruleDescription'].errors}">
                        <div *ngIf="submittedRule && ruleGroup['ruleDescription'].errors" class="invalid-feedback">
                            <div *ngIf="ruleGroup['ruleDescription'].errors['required']">Description is required.</div>
                            <div *ngIf="ruleGroup['ruleDescription'].errors['minlength']">Name must be at least 3 characters long.</div>
                            <div *ngIf="ruleGroup['ruleDescription'].errors['maxlength']">Name must not exceed 50 characters.</div>
                        </div>
                        <button (click)="addRule()" class="btn btn-info mt-3">Add Rule</button>
                    </div>

                </form>
            </div>

        </mat-card>

        <mat-card class="rules-card">
            <div>
                <mat-card-title>Added Rules</mat-card-title>
                <div *ngFor="let rule of rules">
                    <h4>Rule: {{rule.description}}</h4>
                </div>
            </div>
        </mat-card>
    </div>
</div>