<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div>
  <form class="p-5" [formGroup]="formGroup" (ngSubmit)="suspend()">
    <div class="form-group">
      <label for="suspended_reason">Suspended Reason</label>
      <input type="text" class="form-control" formControlName="suspended_reason" id="suspended_reason" [(ngModel)]="community.suspended_reason" name="suspended_reason"
        [ngClass]="{ 'is-invalid': submitted && f.suspended_reason.errors }">
        <div *ngIf="submitted && f.suspended_reason.errors" class="invalid-feedback">
          <div>Reason for Suspension must be at least 5 characters long.</div>
      </div>
    </div>
    <div class="form-group form-check">
      <button style='margin-right:16px' class="btn btn-success">Suspend</button>
      <button style='margin-right:16px' type="button" class="btn btn-danger" [routerLink]="['/communities']">Back</button>
    </div>
  </form>
</div>