<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="row">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title [routerLink]="['/view-community', post?.community?.community_id]" class="postCommunityName">
        {{post?.community?.name}}</mat-card-title>
      <mat-card-title class="postTitle">{{post?.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="image" src={{post?.image_path}}>
    <mat-card-content>
      <p>{{post?.text}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="hasSignedIn() && isByUser() === post?.user?.user_id" mat-button class="btn btn-warning"
        [routerLink]="['/update-post', post?.post_id]">Update</button>
      <button *ngIf="hasSignedIn() && isByUser() === post?.user?.user_id" mat-button class="btn btn-danger"
        (click)="deletePost()">Delete</button>
    </mat-card-actions>
    <button *ngIf="hasSignedIn()" (click)="upvotePost()">
      <span style='font-size:15px;'>&#8593;</span>
    </button>
    <h4>{{postKarma()}}</h4>
    <button *ngIf="hasSignedIn()" (click)="downvotePost()">
      <span style='font-size:15px;'>&#8595;</span>
    </button>
  </mat-card>
</div>
<app-create-comment (saveCommentEvent)="ngOnInit($event)"></app-create-comment>
<h1 class="comments">Comments</h1>
<app-comment-list *ngIf="comments.length > 0" [comments]="comments"></app-comment-list>
<h3 class="noComment" *ngIf="comments.length === 0">No Comments yet, be the first one to Comment something on this Post.</h3>