<div>
    <mat-card class="community-view-card">
        <mat-card-title class="community-view-card-title">{{community.name}}</mat-card-title>
        <mat-card-subtitle class="community-view-card-subtitle">{{community.description}}</mat-card-subtitle>
            <mat-select placeholder="Moderator Options" (selectionChange)="navigateTo($event.value)" class="mb-3 w-25">
                <option style="color: green" [value]="'/community-edit'">Edit</option>
                <option style="color: red" [value]="'/community-suspend'">Suspend</option>
            </mat-select>
    </mat-card>
</div>

<div class="row">
    <div class="col-7 col-lg-8">
        <app-post-list *ngIf="posts.length > 0" [posts]="posts"></app-post-list>
    </div>
    <div class="col-5 col-lg-4">
        <a [routerLink]="['/post-add', community.communityId]"><button class="btn btn-primary">Create a Post</button></a>
        <mat-card class="community-view-rules-card">
            <mat-card-title class="community-view-rules-card-title">Community Rules:</mat-card-title>
            <mat-card-content *ngFor="let rule of rules">
                <mat-card-header class="community-rules-header">{{rule.name}} <mat-icon class="edit-icon" [routerLink]="['/rule-edit', rule.ruleId]">edit</mat-icon></mat-card-header>
            </mat-card-content>
        </mat-card>
        <a [routerLink]="['/rule-add', community.communityId]"><button class="btn btn-danger">Add Rules</button></a>
    </div>
</div>