.community-view-card {
    max-width: 1000px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.community-view-card-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 35px;
    color: blue;
}
.w-25 {
    margin-left: 700px;
    font-size: 18px;
}

.community-view-card-subtitle {
    text-align: center;
    font-size: 20px;
}

.community-view-rules-card {
    max-width: 280px;
    text-align: center;
    margin-top: 30px;
    margin-right: 40px;
}

.community-rules-header {
    text-align: center;
    font-size: 20px;
}

.edit-icon {
    margin-left: 15px;
}

.community-view-rules-card-title {
    font-size: 30px;
    margin-bottom: 15px;
    color: red;
}

.btn-primary {
    margin-top: 30px;
}

.btn-danger {
    margin-top: 15px;
    margin-left: 180px;
}