<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div>
<form class="p-5" [formGroup]="formGroup" (ngSubmit)="update()">
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text" class="form-control" formControlName="text" id="text" [(ngModel)]="comment.text" name="text"
        [ngClass]="{ 'is-invalid': submitted && f.text.errors }">
        <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
          <div>Text must be at least 5 characters long.</div>
      </div>
      </div>
    <div class="form-group form-check">
    <button style='margin-right:16px' class="btn btn-success" (ngSubmit)="update()">Update</button>
    <button style='margin-right:16px' class="btn btn-danger" [routerLink]="['/mainPage']">Back</button>
    </div>
</form>
</div>